# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.venv/
.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
node_modules/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Celery beat schedule file
celerybeat-schedule

# Coverage reports
htmlcov/
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
